h1 { color: #ffffff; font-family: 'Raleway',sans-serif; font-size: 62px; font-weight: 800; line-height: 72px; margin: 0 0 24px; text-align: center; text-transform: uppercase; }

.text { 
	font: bold 200% Consolas;
	border-right: .1em solid black;
	width: 28ch;
	white-space: nowrap;
	overflow: hidden;
	margin: 30px;
	-webkit-animation: type 4s steps(28, end),
	blink-caret .4s step-end infinite alternate;
}
@-webkit-keyframes type { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }